/.docker            export-ignore
/.github            export-ignore
/tests              export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
.scrutinizer.yml    export-ignore
docker-compose.yml  export-ignore
phpstan.neon.dist   export-ignore
phpunit.xml.dist    export-ignore
