version: '3.8'

services:
  php8.2:
    image: ghcr.io/staudenmeir/php:8.2
    working_dir: /var/www/html
    networks:
      - test
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  php8.3:
    image: ghcr.io/staudenmeir/php:8.3
    working_dir: /var/www/html
    networks:
      - test
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  mysql:
    image: 'mysql:5.7'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
    healthcheck:
      test: mysqladmin ping --silent
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - test

networks:
  test:
    driver: bridge
