includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 7
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
